{$APP_DOMAIN} {
	encode zstd gzip

	basic_auth {
		{$APP_BASIC_AUTH_USER} {$APP_BASIC_AUTH_HASH}
	}

	reverse_proxy api:8006

	header {
		X-Content-Type-Options nosniff
		X-Frame-Options DENY
		Referrer-Policy strict-origin-when-cross-origin
		-Server
	}

	log
}
